@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EDC7B7;
  color: black;
  font-size: 18px;
  line-height: 25px;
}

h1 {
  font-size: 30px;
  color: rgb(204, 20, 7);
}

h2 {
  font-size: 25px;
  color: rgb(204, 20, 7);
}

a {
  text-decoration: none;
  color : black;
}

.card {
  background-color: rgb(238, 226, 226);
  margin: 30px 300px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-beige {
  background-color: #EDC7B7;
}

.btn-red:hover {
  background-color: #D3756B;
  padding: 8px;
  border-radius: 5px;
}

.list-icon {
  list-style: none;
  padding-left: 0px;
}

#img-circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container > .card {
    margin: auto;
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
